/* Common Utilities */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Courier New", Courier, monospace;
}
/* Custom-Css-property */
:root {
  --deposit-bg-color: rgb(85, 85, 253);
  --withdraw-bg-color: rgb(72, 179, 72);
  --balance-bg-color: rgb(179, 179, 24);
  --primary-color: #ffff;
  --heading-color: rgb(117, 115, 115);
  --btn-background: rgb(78, 66, 34);
  --input-focus-bg: rgb(230, 184, 124);
}
/* Heading Start */
.heading {
  text-align: center;
  margin-top: 2rem;
  color: var(--heading-color);
  margin-bottom: 4rem;
}
/* account starts */
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  gap: 5px;
  justify-content: space-around;
}
.center {
  width: 60%;
  margin: 0px auto;
  border-radius: 0.6rem;
  padding: 5rem;
  color: var(--primary-color);
}
.color-blue-100 {
  background-color: var(--deposit-bg-color);
}
.color-green-100 {
  background-color: var(--withdraw-bg-color);
}
.color-yellow-100 {
  background-color: var(--balance-bg-color);
}
.center-text {
  text-align: center;
}
.money-count {
  margin-top: 0.8rem;
  text-align: center;
}
/* account ends */
/*withdraw and deposit input field starts  */
.margin {
  margin: 2rem 0;
}
.center2 {
  margin: 0px auto;
  border-radius: 0.6rem;
  padding: 5rem;
  color: var(--primary-color);
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
  gap: 5px;
  justify-content: space-around;
}
.bg-pink {
  background-color: rgb(250, 186, 197);
}
.bg-red {
  background-color: rgb(245, 103, 103);
}
.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-deposit-withdraw {
  background-color: var(--btn-background);
  width: 75%;
  height: 1.8rem;
  border: none;
  border-radius: 37px;
  color: rgb(70, 67, 67);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  color: #ffff;
}
.color-text {
  color: black;
  margin-bottom: 1rem;
}
.input-field {
  width: 75%;
  height: 1.8rem;
  border: 0.5rem;
  margin-bottom: 1rem;
  padding: 0 4px;
  font-size: 14px;
  border-radius: 4px;
}
.input-field:focus {
  background-color: var(--input-focus-bg);
  outline: none;
}
/*withdraw and deposit input field ends  */

/* media queries for mobile devices */

@media (max-width: 640px) {
  .center {
    width: 80%;
    margin: 0px auto;
    border-radius: 0.6rem;
    padding: 5rem;
    color: var(--primary-color);
  }
  .grid-cols-3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
